SECRET_KEY=django-insecure-change-me
DEBUG=False
ALLOWED_HOSTS=127.0.0.1 localhost backend your-kittygram-domain.example
CSRF_TRUSTED_ORIGINS=https://your-kittygram-domain.example

POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram
DB_HOST=db
DB_PORT=5432

DOCKER_USERNAME=poponyas
